<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>
<% if @company.last_file_date.present? %>
<p>
  <strong>Last file date:</strong>
  <%= @company.last_file_date %>
</p>
<% end %>

<% if @company.last_file_date.present? %>
<p>
  <strong>Last file name:</strong>
  <%= @company.last_file_name %>
</p>
<% end %>

<p>
  <%= render 'xmlform' %>
</p>

<h2>Offers list:</h2>
<% if @company.offers.present? %>
  <table>
    <thead>
      <tr>
	<th>Title</th>
	<th>Picture</th>
	<th>Description</th>
	<th>Url</th>
      </tr>
    </thead>

    <tbody>
      <% @company.offers.each do |offer| %>
	<tr>
	  <td><%= offer.title %></td>
	  <td><%= image_tag(offer.picture) %></td>
	  <td><%= offer.description %></td>
	  <td><%= link_to 'Ссылка на оффер', offer.url %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  no offers
<% end %>