<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Last file date:</strong>
  <%= @company.last_file_date %>
</p>

<p>
  <strong>Last file name:</strong>
  <%= @company.last_file_name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
